:root {
    --color-pink: #FD2463;
    --color-orange: #F69D00;
}

html, body {
    background: white;
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

}

header {
    padding: 2em 0 0 0;
    color: white;
    background: url(header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after {
    content: "";
    height: 15px;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header .container #logo {
    height: 50%;
    margin-right: 3em;
}

header .container > p {
    margin: 0.5rem;
    font-size: 100%;
    font-family: "Akshar", sans-serif;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    gap: 2%;
}

.partners img {
    width: 20%;
}

nav ul {
    display: block;
    left: 5%;
    padding: 0;
    font-size: 150%;
    font-family: "Akshar", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
}

nav a {
    margin-right: 0.5rem;
    padding: 0.5rem;
    color: white;
    border: 5px solid transparent;
}

nav a.active {
    border-radius: 5px;
    border-color: var(--color-orange);
}

main {
    margin-left: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
}

#equipes, #newsletter, #about {
    display: none;
    padding-bottom: 25%;
}

#stades {
    opacity: 0;
}

h1, h2, h3, h4 {
    font-family: "Akshar", sans-serif;
    font-weight: 600;
}

h2 {
    padding: 0.25em;
    margin-top: -1rem;
    font-size: 300%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    background:linear-gradient(to top, var(--color-pink) 0%, var(--color-orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    width: 80%;
    padding-bottom: 3px;
    border-bottom: 5px solid rgba(255,140,0,1);
}

p {
    width: 80%;
}

.team h3 {
    margin-top: 2rem;
    border: none;
}
.team h3 span {
    
    margin: 0.5rem 0;
    padding: 0.25rem;
    color: white;
    background: black;
}

.desc {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.team .flag {
    min-width: 25%;
    max-width: 25%;
    outline: 2px solid rgba(0, 0, 0, 0.2);
}

form label {
    width: 100%;
    text-align: left;
}

form input[type="submit"] {
    margin-bottom: 15%;
}

form fieldset legend {
    padding: 0 0 0 5%;
    border-bottom: 3px solid black;
}

footer {
	position: fixed;
    width: 100%;
    bottom: 0;
    height: 8vh;
    border-top: 1px solid black;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;

}

footer ,footer a {
    color: #1f3151;
}

footer .button-item {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    background: rgb(240, 240, 240);
    box-shadow: inset 0px 1px 0 1px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    border-left: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i{
    overflow: hidden;
    font-size: 5vh;

}
footer .button-item:active {
    box-shadow: inset 0px 1px 0 1px rgba(0, 0, 0, 0.2), inset 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    background: rgb(230, 230, 230);
}

footer i:active {
    animation: beat 1s infinite alternate;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 255px;
    }
}

html,
body {
  font-family: "Montserrat", sans-serif;
}
.scan-body {
  text-align: center;
  margin: 40px auto;
  font-size: 40px;
}

.scan-icon {
  font-size: 100px;
  border: solid 1px #000;
  padding: 25px 20px 20px 20px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.qr-canvas {
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: #fff;
}

.camera {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  font-size: 40px;
}