:root {
    --color-pink: #FD2463;
    --color-orange: #F69D00;
}

html, body {
    background: white;
    min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
    padding: 2em 0 0 0;
    color: white;
    background: url("../img/header.jpg");
    background-size: cover;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    gap: 2%;
}

.partners img {
    width: 20%;
}

#equipes, #newsletter, #about, #matchs {
    display: none;
}

#stades {
    opacity: 0;
}

h1, h2, h3, h4 {
    font-family: "Akshar", sans-serif;
    font-weight: 600;
}

h2 {
    padding: 0.25em;
    font-size: 300%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    background:linear-gradient(to top, var(--color-pink) 0%, var(--color-orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    border-bottom: 5px solid rgba(255,140,0,1);
}

form label {
    width: 100%;
    text-align: left;
}

form input[type="submit"] {
    margin-bottom: 15%;
}

form fieldset legend {
    padding: 0 0 0 5%;
    border-bottom: 3px solid black;
}

.match, .coupenvoie
{
    width: 95%;
    height: 25vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    margin-top: 25px;
    border-bottom: 2px solid black;
}

#matchsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaminfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    height: 95%;
    width: 40%;
}

.tielements {
    width: 95%;
    height: 50%;
    text-align: center;
    text-transform: uppercase;
}


.versus {
    padding: 0;
    height: 198%;   
}


/* -------------------------------------------- FOOTER -------------------------------------------- */

footer {
	position: fixed;
    width: 100%;
    bottom: 0;
    height: 8vh;
    background: whitesmoke;
}

footer nav {
    display: flex;
    justify-content: space-around;
    height: 100%;

}

footer ,footer a {
    color: #1f3151;
}

footer .button-item {
    display: flex;
    align-items: center;
}

footer i{
    font-size: 4vh;

}

footer i:active {
    animation: beat 1s infinite alternate;
}


/* -------------------------------------------- ANIM -------------------------------------------- */
.flip:active {
    animation: -flip 0.5s;
}

@keyframes -flip {
   0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 255px;
    }
}   